<div class="devise-wrapper">
  <div class="devise-card">
    <div class="devise-header">
      <h2>Create account</h2>
      <p class="devise-subtitle">Join today</p>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" } %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <div class="upload-profile-picture">
          <%= f.file_field :profile_picture, class: "d-none", accept: "image/*", id: "signup-photo-upload" %>
             <label for="signup-photo-upload" class="btn-upload-photo">
                  <i class="fas fa-camera me-2"></i>Choisir une photo de profil
              </label>

        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
