<div class="new-post-page">
  <%= form_with model: @post do |f| %>
    <div class="form-group">
      <%= f.label :name, "Title" %>
      <%= f.text_field :name, placeholder: "Title" %>
    </div>

   <div class="form-group">
      <%= f.label :name, "Routin's name" %>
      <%= f.text_field :name, placeholder: "Ex: Full Body Strength" %>
    </div>

    <%= f.submit "Submit" %>
  <% end %>
</div>
