<div class="container">
  <div class="header-post-page d-flex justify-content-between">
    <%= link_to ('<i class="fa-solid fa-xmark"></i>').html_safe, posts_path %>
    <div class="d-flex edit-delete-buttons">
      <% if policy(@post).destroy? %>
      <%= link_to post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
    <% if policy(@post).edit? %>
      <%= link_to edit_post_path(@post) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    <% end %>
    <% if @subscription %>
      <%= link_to "Unsubscribe", subscription_path(@subscription), data: {turbo_method: :delete}, class: "orange-btn small-btn" %>
    <% else %>
      <%= link_to "Subscribe", subscriptions_path(post: @post), data: {turbo_method: :post}, class: "orange-btn small-btn" %>
    <% end %>
    </div>

  </div>

  <div class="post-feed">
    <h1 class="post-show-title"> <%= @post.title %></h1>
    <div class="d-flex">

      <% if @post.user.profile_picture.attached? %>
        <%= image_tag @post.user.profile_picture, class: "post-profile-avatar" %>
      <% else %>
        <span class="post-author-avatar"><%= @post.user.username[0].upcase %></span>
      <% end %>

      <div>
        <span class="username-post"> <%= @post.user.username.upcase %></span><br>
        <span class="date-post"> <%= @post.created_at.strftime("%B %d, %Y") %></span>
      </div>
    </div>

    <hr>
    <%= cl_image_tag @post.post_picture.key, crop: :fill %>
    <div class="content-post"> <%= @post.content %> </div>
    <hr>
    <div class="subscribe-section">
      <p class="subscribe-label">Subscribe to <%= @post.user.username %></p>
      <%= link_to "Subscribe", "#", class: "orange-btn" %>
    </div>
  </div>
  </div>
